<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>LoginStaff</servlet-name>
        <servlet-class>controller.LoginStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaff</servlet-name>
        <servlet-class>controller.AddStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPromotion</servlet-name>
        <servlet-class>controller.addPromotion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFacility</servlet-name>
        <servlet-class>controller.AddFacility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDetail</servlet-name>
        <servlet-class>controller.AddDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRoom</servlet-name>
        <servlet-class>controller.AddRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAvailability</servlet-name>
        <servlet-class>controller.CheckAvailability</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookNow</servlet-name>
        <servlet-class>controller.BookNow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>controller.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaff</servlet-name>
        <servlet-class>controller.UpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRoom</servlet-name>
        <servlet-class>controller.BookRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteReservation</servlet-name>
        <servlet-class>controller.DeleteReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReservation</servlet-name>
        <servlet-class>controller.AddReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignStaff</servlet-name>
        <servlet-class>controller.AssignStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordStaff</servlet-name>
        <servlet-class>controller.ChangePasswordStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFacility</servlet-name>
        <servlet-class>controller.UpdateFacility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFacility</servlet-name>
        <servlet-class>controller.DeleteFacility</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>controller.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRoom</servlet-name>
        <servlet-class>controller.DeleteRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRoom</servlet-name>
        <servlet-class>controller.UpdateRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginStaff</servlet-name>
        <url-pattern>/login_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaff</servlet-name>
        <url-pattern>/add_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPromotion</servlet-name>
        <url-pattern>/add_promotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFacility</servlet-name>
        <url-pattern>/add_facility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDetail</servlet-name>
        <url-pattern>/add_detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRoom</servlet-name>
        <url-pattern>/add_room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAvailability</servlet-name>
        <url-pattern>/check_availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookNow</servlet-name>
        <url-pattern>/book_now</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/login_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/update_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaff</servlet-name>
        <url-pattern>/update_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRoom</servlet-name>
        <url-pattern>/book_room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteReservation</servlet-name>
        <url-pattern>/delete_reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/delete_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReservation</servlet-name>
        <url-pattern>/add_reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignStaff</servlet-name>
        <url-pattern>/assign_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordStaff</servlet-name>
        <url-pattern>/change_password_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFacility</servlet-name>
        <url-pattern>/update_facility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFacility</servlet-name>
        <url-pattern>/delete_facility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/delete_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/update_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRoom</servlet-name>
        <url-pattern>/delete_room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRoom</servlet-name>
        <url-pattern>/update_room</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
